<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <br>
    <br>
    <br>
   <center>
    <h1>Report Submitted Successfully</h1>
    <img src="/images/message.svg" alt="" srcset="">
   </center> 
</body>
</html>