<!DOCTYPE html>
<html lang="en">
    
 <%-include priorityTwo/partials/head.ejs-%>

<body>
    <br>
    <br>
    
    <div class="container">
        <span class="">
            <center><h1 class="text-primary"><span class="badge">Report Submitted Successfully</span></h1> </center></span>
        <span class="row">
            
        
        <span class="col-md-1"></span>
        <center>
            <span class="col-md-10"><img src="/images/message.svg" width="90%" class="img-fluid" align="success"></span>  
        </center>          
       
        </span>
       
        
    </div>
  
</body>
</html>