<footer class="main-footer">
  <strong>Copyright &copy; <p>
    <script>document.write(new Date().getFullYear())</script>
    </p> <a href="https://adminlte.io">MIS COMPLAINTS PORTAL</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1.9
  </div>
</footer>