<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UCC COMPLAINT PORTAL</title>

  <!-- Google Font: Source Sans Pro -->
    <link rel="icon" type="image/png" href="../images/ucc.png">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
</head>
<body class="bg1">
<div class="wrapper">
  <!-- Navbar -->
  
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->


  <!-- Content Wrapper. Contains page content -->
 
    <!-- Content Header (Page header) -->

    

    <!-- Main content -->
    <style type="text/css">
      .bg1{
   


    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/back.jpg"); /* The least supported option. */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
        
      }

      .bstyle{
        border-radius:20px 20px 180px 180px;
      }
    </style>


    <section class="content">
      <div class="container-fluid ">

        <hr>
        <h1 class="text-center mt-3 text-white"> <span class="col-md-10"><img src="/images/ucc.png" width="3%" class="img-fluid" align="success"></span>UCC COMPLAINT PORTAL</h1>
        <hr>
        <div class="row">
          <!-- left column -->
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <!-- jquery validation -->
            <div class="card card-primary">
              <div class="card-header bstyle card-title">
                <center>FILL IN THE FIELDS BELOW</center>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form id="quickForm" action="/insert" method="post">
                <div class="card-body">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                       <label for="name">NAME</label>
                       <input type="text" name="name" class="form-control" id="" placeholder="Enter full name here">
                    </div>
                   <div class="form-group col-md-6">
                       <label for="staff_student_id">STAFF NUMBER / STUDENT REGISTRATION NUMBER</label>
                       <input type="text" name="staff_student_id" class="form-control" id="" placeholder="Enter ID">
                    </div>

                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                       <label for="phone">PHONE</label>
                       <input type="number" name="phone" class="form-control" id="" placeholder="Enter phone number">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="email">INSTITUTIONAL EMAIL</label>
                      <input type="email" name="email" class="form-control" id="" placeholder="Enter your Institutional Email here">
                   </div>

                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="priority">PROBLEM CATEGORY</label>
                        
                        <!-- <select class="form-control" name="category">
                        
                          <option disabled selected >Select Category</option>
                          <%  cats.map((cat) => { %>
                          <option><%= cat.category %></option>

                          <% }) %>
                        </select> -->
                        <select class="form-control" name="category">
                        
                          <option disabled selected >Select Category</option>
                         
                          <option>STUDENT PORTAL ACCESS</option>
                          <option>STAFF PORTAL ACCESS</option>
                          <option>NEW OASIS ACCOUNT</option>
                          <option>OASIS ACCOUNT RESET</option>
                          <option>UCC EMAIL PASSWORD RESET</option>
                          <option>UCC EMAIL ACTIVATION</option>
                          <option>STAFF DETAILS UPDATE</option>
                          <option>STAFF LEAVE</option>
                          <option>STAFF ID CARD</option>
                          <option>STUDENT ID CARD</option>
                          <option>STUDENT DETAILS UPDATE</option>
                          <option>COURSES REGISTRATION</option>
                          <option>COURSE GROUPING</option>
                          <option>HALL PLACEMENT</option>
                          <option>STUDENTS RESULTS</option>
                          <option>EXAMS TIMETABLE</option>

                         
                        </select>
                     </div>
                    <div class="form-group col-md-6">
                       <label for="problem">DETAILS</label>
                       <textarea type="text" name="problem" class="form-control" id="" placeholder="Give a brief description of your problem"></textarea>
                    </div>
                  </div>
                  
                  
                 <!--  <div class="form-group mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">
                      <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>
                    </div>
                  </div> -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                 <center><button type="submit" class="btn btn-primary-brown">SUBMIT NOW!</button></center> 
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jquery-validation -->
<script src="plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="plugins/jquery-validation/additional-methods.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script>
$(function () {
  // $.validator.setDefaults({
  //   $submitHandler: function () {
  //     alert( "Form successfully submitted!");
      
  //   }
  // });
  $('#quickForm').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
      phone: {
        required: true,
        // minlength: 10
      },

       staff_student_id: {
        required: true,
        // minlength: 10
      },


       name: {
        required: true,
        // minlength: 10
      },

      terms: {
        required: true
      },


       problem: {
        required: true,
        // minlength: 10
      },
    },
    messages: {
      email: {
        required: "Please enter your email address",
        email: "Please enter a vaild email address"
      },
     

        name: {
        required: "Please provide your name",
        
      },

      staff_student_id: {
        required: "Please provide your ID number",
        
      },

      problem: {
        required: "Please let us know your problem",
        
      },

      phone: {
        required: "Please provide your phone number",
        
      },
    
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>
</body>
</html>
