<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mssa | Dashboard</title>
          <link rel="icon" type="image/png" href="../images/ucc.gif">
      
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bootstrap 4 -->
        <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
        <!-- DataTables -->
        <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <!-- Theme style -->
      </head>
 <%-include priorityTwo/partials/head.ejs-%>

<body>
    <br>
    <br>
    
    <div class="container">
        <span class="">
            <center><h1 class="text-primary"><span class="badge">Report Submitted Successfully</span></h1> </center></span>
        <span class="row">
            
        
        <span class="col-md-1"></span>
        <center>
            <span class="col-md-10"><img src="/images/message.svg" width="90%" class="img-fluid" align="success"></span>
           
        </center> 
        <center>
            <span class="col-md-10"><a src="" width="90%" class="" align="success"><a href="/"> <button class= "my-1 btn  btn-outline-primary btn-block btn-flat mr-auto ml-auto"> <i class="fas fa-arrow-left"></i> Home</button> </a></span>
           
        </center>  
                
               
       
        </span>
       
        
    </div>
  
</body>
</html>