<footer class="main-footer">
  <strong>Copyright &copy;<script>document.write(new Date().getFullYear())</script> <a href="dashboard2">MIS COMPLAINTS PORTAL</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1.9
  </div>
</footer>