  <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-dark">
              <div class="inner">
                 <%  total.map((totals) => { %>
                <h3><%= totals.total %></h3>
                <% }) %>

                <p>Total Assigned Tasks</p>
              </div>
              <div class="icon">
                <i class="fas fa-users text-muted"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                 <%  issues.map((issue) => { %>
                <h3><%= issue.issues %></h3>                                                                                      
              <% }) %>

                <p>New Assigned Tasks</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/issues" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-white">
              <div class="inner">
                <%  assign.map((assigned) => { %>
                <h3><%= assigned.assigned %></h3>                                                                                      
              <% }) %>

                <p>Acknowledged Tasks</p>
              </div>
              <div class="icon">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </div>
              <a href="/assigned" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <%  complete.map((completed) => { %>
                <h3><%= completed.completed %></h3>                                                                                      
              <% }) %>
                <p>Completed Tasks</p>
              </div>
              <div class="icon">
                <i class="fa fa-check"></i>
              </div>
              <a href="/completed" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>