<!DOCTYPE html>
<html lang="en">

 <%-include partials/head.ejs-%>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse">
<div class="wrapper">
  <!-- Navbar -->
  <%-include partials/navbar.ejs-%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%-include partials/sidebar.ejs-%>
  <!-- Navbar -->
 

  <!-- Main Sidebar Container -->
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              <!-- <i style="font-size: 80px" class="fas fa-thumbs-up text-success"></i> -->&nbsp;
            </h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content" >
      <div class="text-center">

        <div class="">
          <h2 class="text-success"> YAAAAAAY! <i style="font-size: 50px" class="fas fa-thumbs-up text-success"></i></h2>
          <h2 style="font-size: 50px" class="text-success"> STAFF ADDED SUCCESSFULLY.</h2>

          
        </div>
           <p class="error-page">
            Staff has successfully been added!
            Meanwhile, you may <a href="/dashboard2">return to dashboard</a>
          </p>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%-include partials/scripts.ejs-%>
</body>
</html>
