<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-dark">
      <div class="inner">
        <%  total.map((totals) => { %>
          <h3><%= totals.total %></h3>                                                                                      
       <% }) %>
        <p>Total Reported Issues</p>
      </div>
      <div class="icon">
        <i class="fas fa-users text-muted"></i>
      </div>
      <a href="#" class="small-box-footer">&nbsp;</i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-primary">
      <div class="inner">
        <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
        <%  issues.map((issue) => { %>
          <h3><%= issue.issues %></h3>                                                                                      
       <% }) %>
        <p>New Issues</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars "></i>
      </div>
      <a href="/issues" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-secondary">
      <div class="inner">
        <%  assign.map((assigned) => { %>
          <h3><%= assigned.assigned %></h3>                                                                                      
       <% }) %>
        <p>Assigned Issues</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add "></i>
      </div>
      <a href="/assigned" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <%  complete.map((count) => { %>
          <h3><%= count.complete %></h3>                                                                                      
       <% }) %>
        <p>Completed</p>
      </div>
      <div class="icon">
        <i class="fas fa-check "></i>
      </div>
      <a href="/completed" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>